<%- include ('./base/header2'); %>

<main class="distribucion">
    <aside class="aside">
        <div class="text-center">
            <div>
                <a href="/publicar">
                    <i class="bi bi-plus-square-fill"></i>
                    <p>Publicar Inmueble</p>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="bi bi-person-fill"></i>
                    <p>Perfil</p>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="bi bi-envelope-fill"></i>
                    <p>Mensajes</p>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="bi bi-book-half"></i>
                    <p>Catálogo</p>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="bi bi-bookmark-fill"></i>
                    <p>Lista de Deseados</p>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="bi bi-briefcase-fill"></i>
                    <p>Asesoria Legal</p>
                </a>
            </div>
        </div>
    </aside>
    <div class="estructura">
        <section>
            <h3 class="mb-5">Inmuebles sugeridos según tus busquedas</h3>
            <div class="d-flex justify-content-evenly">
                <div class="card" style="width: 18rem; height: 23rem;">
                    <img src="../img/casa1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-text overflow-hidden">
                            <p class="titulo text-truncate">Apartamento - Medellin</p>
                            <Strong>
                                <p class="espacio-filtros">Precio de venta</p>
                            </Strong>
                            <strong>
                                <p>$ 550.000.000</p>
                            </strong>
                            <div class="separacion-informacion">
                                <div class="card-text" style="width: 5rem; height: 4rem;">
                                    <strong>
                                        <p>Area</p>
                                    </strong>
                                    <strong>
                                        <p>39 m2</p>
                                    </strong>
                                </div>
                                <div class="card-text" style="width: 5rem; height: 4rem;">
                                    <strong>
                                        <p>Hab</p>
                                    </strong>
                                    <strong>
                                        <p>4</p>
                                    </strong>
                                </div>
                                <div class="card-text" style="width: 5rem; height: 4rem;">
                                    <strong>
                                        <p>Baños</p>
                                    </strong>
                                    <strong>
                                        <p>2</p>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem; height: 23rem;">
                    <img src="../img/apartamento4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-text">
                            <p class="titulo text-truncate">Apartamento - Envigado</p>
                            <Strong>
                                <p class="espacio-filtros">Precio de venta</p>
                            </Strong>
                            <strong>
                                <p>$ 450.000.000</p>
                            </strong>
                            <div class="separacion-informacion">
                                <div class="card-text" style="width: 5rem; height: 4rem;">
                                    <strong>
                                        <p>Area</p>
                                    </strong>
                                    <strong>
                                        <p>25 m2</p>
                                    </strong>
                                </div>
                                <div class="card-text" style="width: 5rem; height: 4rem;">
                                    <strong>
                                        <p>Hab</p>
                                    </strong>
                                    <strong>
                                        <p>2</p>
                                    </strong>
                                </div>
                                <div class="card-text" style="width: 5rem; height: 4rem;">
                                    <strong>
                                        <p>Baños</p>
                                    </strong>
                                    <strong>
                                        <p>1</p>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 18rem; height: 23rem;">
                    <img src="../img/casa1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-text">
                            <p class="titulo text-truncate">Apartamento - Medellin</p>
                            <Strong>
                                <p class="espacio-filtros">Precio de venta</p>
                            </Strong>
                            <strong>
                                <p>$ 750.000.000</p>
                            </strong>
                            <div class="separacion-informacion">
                                <div class="card-text" style="width: 5rem; height: 4rem;">
                                    <strong>
                                        <p>Area</p>
                                    </strong>
                                    <strong>
                                        <p>70 m2</p>
                                    </strong>
                                </div>
                                <div class="card-text" style="width: 5rem; height: 4rem;">
                                    <strong>
                                        <p>Hab</p>
                                    </strong>
                                    <strong>
                                        <p>5</p>
                                    </strong>
                                </div>
                                <div class="card-text" style="width: 5rem; height: 4rem;">
                                    <strong>
                                        <p>Baños</p>
                                    </strong>
                                    <strong>
                                        <p>4</p>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mt-5 mb-4 p-4" id="cp">
            <h3>Servicios COVENBIINS para ti</h3>
            <div class="d-flex justify-content-evenly mt-4">
                <div class="card" style="width: 18rem;" id="cc">
                    <div class="card-body">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                class="bi bi-buildings" viewBox="0 0 16 16">
                                <path
                                    d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z" />
                                <path
                                    d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z" />
                            </svg>
                        </div>
                        <h5 class="card-title">¿Quieres vender un inmueble?</h5>
                        <p class="card-text">Covenbiins te guia en el proceso de vender tu inmueble.</p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;" id="cc">
                    <div class="card-body">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path
                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                        </svg>
                        <h5 class="card-title">Asesoria legal</h5>
                        <p class="card-text">Un asesor legal te ayudara en el proceso de venta de una propiedad.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="p-3">
            <h3 class="mb-4">Articulos de interes</h3>
            <div class="separacion-cards">
                <div class="card" style="width: 35rem;">
                    <img src="../img/articulo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="titulo">
                            <h5 class="card-title">Terminos del mercado inmobiliario</h5>
                        </div>
                        <p class="card-text">Pensando en resolver tus inquietudes frecuentes acerca del mercado
                            inmobiliario, decidimos presentarte las 10 expresiones que despiertan más inquietudes en
                            Colombia y además, te explicamos en qué consisten.</p>
                    </div>
                </div>
                <div class="card" style="width: 35rem;">
                    <img src="../img/articulo2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="titulo">
                            <h5 class="card-title">¿Cómo hacer un plano de una casa?</h5>
                        </div>
                        <p class="card-text">Hemos recopilado cinco de las mejores aplicaciones para diseñar casas, de
                            una forma tan intuitiva, como si estuvieras al lado de un profesional.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<%- include ('./base/footer'); %>